.Rproj.user
.Rhistory
.RData
.Ruserdata
/*.rds
/ou_processes_n=10000-D=1000-a=0-kappa=1-alpha=12e-1-sigma=3e-1-delta=1.rds
/ou_processes_n=10000-D=1000-a=0-kappa=1-alpha=1-sigma=1-delta=1.rds
/ou_processes_n=10000-D=1000-a=0-kappa=1-alpha=12e-1-sigma=3e-1-delta=1e-5.rds
softwareprojekt_ou.out
softwareprojekt_ou.synctex.gz
softwareprojekt_ou.tex
softwareprojekt_ou.toc
Figures
Header
Kapitel
Literatur
abbrvdin.bst
abbrvdin_modified.bst
mcode.sty
relsize.aux
softwareprojekt_ou.aux
softwareprojekt_ou.bbl
softwareprojekt_ou.blg
softwareprojekt_ou.brf
softwareprojekt_ou.lof
softwareprojekt_ou.log
softwareprojekt_ou.nlo
/SoftwareProjekt_MLE_OU_JosefStarkmann.R
rsconnect
/init.csv
